/* CSS for Portfolio */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}

.nav-header ul li {
    display: block;
    list-style-type: none;
    padding: 10px 30px;
}

/* Link styles with hover */
a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(113, 204, 174);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

.nav-header ul li a:hover:after { 
    width: 100%; 
    left: 0; 
}


@media screen and (max-height: 300px) {
    ul {
          margin-top: 40px;
    }
}

.title {
    display: flex;
    flex-direction: row;
    flex: 100%;
    align-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 0.15em;
}
  
.works {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(216, 253, 241);
    justify-content: center;
    padding-bottom: 70px; 
}
  
div.gallery {
    margin: 10px;
    border: 2px solid white;
    background-color: white;
    width: 300px;
}
    

div.gallery:hover {
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;  
}
    
/* ----------------------------------------------
 * Generated by Animista on 2019-5-27 1:4:45
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #159a8c, 2px -2px #159a8c, 3px -3px #159a8c, 4px -4px #159a8c, 5px -5px #159a8c, 6px -6px #159a8c, 7px -7px #159a8c, 8px -8px #159a8c;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c, 0 0 #159a8c;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #159a8c, 2px -2px #159a8c, 3px -3px #159a8c, 4px -4px #159a8c, 5px -5px #159a8c, 6px -6px #159a8c, 7px -7px #159a8c, 8px -8px #159a8c;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  
div.gallery img {
    width: 100%;
    height: auto;
}
    
div.desc {
    padding: 15px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(233, 232, 232);
    border-spacing: 15px;
    font-size: 12px;
    color: rgb(182, 182, 182);
}