/* CSS for Portfolio */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}

.nav-header ul li {
    display: block;
    list-style-type: none;
    padding: 10px 30px;
}

/* Link styles with hover */
a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(113, 204, 174);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-header ul li a:hover:after { 
    width: 100%; 
    left: 0; 
}

@media screen and (max-height: 300px) {
    ul {
          margin-top: 40px;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 253, 241);
    padding-bottom: 40px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
    background-color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

.intro h3 {
    text-align: center;
    font-size: 18px;
}

.intro a:hover {
    color: rgb(100, 218, 178);
}

.intro p {
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 60px;
}

section.icons {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 25px;
    font-size: 14px;
}

section.icons a{
    padding-left: 20px;
    padding-right: 20px;
}
/* 
section.icons a:hover{
    color: aquamarine;
} */

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(233, 232, 232);
    border-spacing: 15px;
    font-size: 12px;
    color: rgb(182, 182, 182);
}

